/* play-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v49-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*  Base */
* {
  box-sizing: border-box;
}

:root {
  --color-dark: #011c44;
  --color-black: #2b7fff;
  --color-light: #ffffff;
}

/* Bazza */
body {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* Heder conteiner */

.header-conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.heder-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.conteiner-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.conteiner-contact {
  display: flex;
  gap: 32px;
}
/* Меню hedear Навігація по сайту */
/* Herov conteiner */
/* .hero-conteiner {
  display: flex;
  flex-direction: column;
 } */
/*  */

.menu-header {
  color: var(--color-dark);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}
.menu-header:hover {
  color: var(--color-black);
  font-style: normal;
  font-size: 18px;
}
.hero-section {
  padding: 16.52px 0 172.48px 0x;
}
/*  Заголовок */

/* Парграф  Косметологічна клініка*/
.main-paragraf-title {
  color: var(--color-dark);
  font-style: normal;
  font-size: 18px;
}
/* Beauty Zone  Назва сайту*/
.main-Hero-title {
  color: var(--color-black);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
}
/* button кнопка набрати */
.button {
  color: var(--color-light);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 32px;
  width: 219px;
  height: 53px;
  left: 20px;
  top: 20px;
}

.button:hover {
  color: var(--color-black);
  background-color: transparent;
  border: 2px solid var(--color-black);
  border-radius: 32px;
}

.titel-button {
  margin-bottom: 14px;
}
/* Опис для button */
.main-paragraf-button {
  color: #4a4a4a;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

/* h2 загловок Перевтілюйтесь в beauty zone! */
.Section-beauty-zone {
  padding-bottom: 112px;
}

.conteiner-beauty-zone {
  display: flex;
}
.conteiner-description-beauty-zone {
  max-width: 709px;
  justify-content: space-between;
}

.img-beauty-zone {
  display: flex;
  flex-direction: column;
  max-width: 499px;
  max-height: 665px;
}

.img-beauty-zone1 {
}
.img-beauty-zone2 {
}

.main-h2-beauty-zone {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.7;
}
.titel-beauty-zone {
  margin-bottom: 40px;
}
.titel-description {
  margin-bottom: 40px;
}
/* span зміна Деяких елементів коляру */
.accent {
  color: var(--color-black);
}
/* Параграф опис Перевтілюйтесь в beauty zone */
.paragraf-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
}

/* main-h2-Why-us другий заголовок Чому обирають нас */
.main-h2-Why-us {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

.titel-Why-us {
  margin-bottom: 48px;
}
/* conteiner */
.container-Why-us-description {
  display: flex;
  gap: 56px;
}
.container-Why-us1 {
  padding: 24px;
  border: 1px solid var(--color-dark); /* удалити*/
  border-radius: 16px;
}

.container-Why-us2 {
  padding: 24px;
  border: 1px solid var(--color-dark); /* удалити*/
  border-radius: 16px;
}

.container-Why-us3 {
  padding: 24px;
  border: 1px solid var(--color-dark); /* удалити*/
  border-radius: 16px;
}

.Section {
  padding: 48px 0;
}
/* Опис Чому обирають нас */
.paragraf-Why-us-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

/* наші процедури */
.main-procedures {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

.titel-procedures {
  margin-bottom: 48px;
}
/* Контейнер для розміщення фото */
.conteiter-procedures {
  display: flex;
  gap: 16px;
}

/* Опис Наші Процедури з фото */
.main-h3-procedures {
  color: var(--color-light);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}
/* Як на знайти */
.main-search {
  color: var(--color-dark);
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

/* Як нас знайти */

.titel-search {
  margin-bottom: 48px;
}
/* Як нас знайти на блоки */
.main-record {
  display: flex;
  gap: 32px;
}

.record {
  background-color: var(--color-dark);
  border-radius: 32px;
  padding: 48px 56px;
}
/* Записатися безкоштовно h3 */
.h3-Sign-up {
  color: var(--color-light);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.titel-Sign-up {
  margin-bottom: 32px;
}

/* border Заповнити дані */

.border-name {
  border: 2px solid #747272;
  border-radius: 32px;
  left: 10.6%;
  right: 10.6%;
  top: 34.62%;
  bottom: 34.62%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: #ffffff;
}

.title-name {
  margin-bottom: 16px;
}

.border-phone {
  border: 2px solid #747272;
  border-radius: 32px;
  left: 10.6%;
  right: 10.6%;
  top: 34.62%;
  bottom: 34.62%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: #ffffff;
}

.title-phone {
  margin-bottom: 16px;
}

.border-mail {
  border: 2px solid #747272;
  border-radius: 32px;
  left: 10.6%;
  right: 10.6%;
  top: 34.62%;
  bottom: 34.62%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: #ffffff;
}

.phone-mail {
  margin-bottom: 16px;
}
/* кнопка записатись бескоштовно */
.button-Sign-up {
  color: var(--color-light);
  width: 281px;
  height: 53px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 32px;
}

.title-button-Sign {
  margin-bottom: 8px;
}

.button-Sign-up:hover {
  color: var(--color-black);
  background-color: transparent;
  border: 2px solid var(--color-black);
  border-radius: 32px;
}

.paragraf-Sign-up {
  color: #747272;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
/* Футер */

/* футер контейнер розміщення в ряд */
.footer-container {
  background-color: #011c44;
  display: flex;
  align-items: center;
}


.main-conteiner {
  gap: 16px;
}
/* footer menu */
.main-footer-menu {
  color: var(--color-light);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
/* Політика конфіденційності*/
.main-confidentiality {
  color: var(--color-light);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
/*  */

.main-2022 {
  color: #747272;
  font-style: normal;
  font-weight: 400;
}
